.about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 60px 0px 60px;
    background: linear-gradient(185deg,#745dae 0% 10%,#1c1c60 20% 30%, #050516 40% 100%);
    font-family: 'Raleway', sans-serif;
    overflow: hidden;

    @media (max-width:991px) {
        flex-direction: column;
        padding: 30px;
    }
   .left{
        flex: 1.2;
        display: flex;
        flex-direction: column;
        gap:20px;
        color: white;
        h1{
            margin: 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            background: linear-gradient(90deg, #75ffef 0% 20%,#fef06e 40% 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 60px;
            filter: drop-shadow( 0px 0px 10px rgba(153, 67, 240, 0.7));
            @media (max-width:661px) {
                font-size: 45px;
                 text-align: center;
            }
        }
        .line{
            height: 6px ;
            width: 60px;
            border-radius: 20px;
            background: linear-gradient(90deg, #75ffef 0% 20%,#fef06e 40% 60%, #ab27f8 90% 100%);
            filter: drop-shadow( 0px 0px 10px rgba(153, 67, 240, 0.7));
        }
        span{
            font-size: 20px;
            letter-spacing: 2px;
            text-align: justify;
        }
        .navigation{
            display: flex;
            gap:20px;
            align-items: center;
            justify-content: center;
            .ball{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border:2px solid white;
                background-color: white;
                cursor: pointer;
            }

            .active{
                background-color: black;
            }
        }
   }
   .right{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        filter: drop-shadow( 0px 0px 6px rgba(153, 67, 240, 0.7));

        img{
            width: 100%;
            object-fit: contain;

            @media (max-width:661px) {
                width: 80%;
            }
            &:first-child{
                position: absolute;
            }  
            
            &:last-child{
                z-index: 1;
            }
        }

   }
}