.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    padding: 100px 60px;
    background: linear-gradient(185deg,#1c1c60 0% 10%,#0d0d3d 15% 20%, #050516 30% 100%);
    font-family: 'Raleway', sans-serif;
    overflow: hidden;

    @media (max-width:991px) {
        flex-direction: column;
        padding: 30px;
        background: linear-gradient(185deg,#1c1c60 0% 5%, #050516 10% 100%);
    }
   .left{
        flex: 1.2;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        
        .content{
            display: flex;
            overflow-x: scroll;
            padding: 20px;
            width: 100%;
            gap:30px;
            cursor:grab;
            scroll-snap-type: x mandatory;
            scroll-padding: 24px;
            scroll-behavior: smooth;


            &::-webkit-scrollbar{
                display: none;
            }

            @media (max-width:991px) {
               width: 90vw;
            }

            .wrapper{
                display: flex;
                flex: 0 0 100%;
                flex-direction: column; 
                transition: transform .5s ease;
                gap:20px;
                color: white;
                width: 100%;
                scroll-snap-align: start;
                
            }

        }

        h1{
            margin: 0;
            letter-spacing: 2px;
            text-transform: uppercase;
            white-space: nowrap;
            background: linear-gradient(270deg,#13ADC7 0%,#945DD6 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 60px;
            filter: drop-shadow( 1px 1px 4px #521ec0);
            @media (max-width:661px) {
                font-size: 45px;
            
            }
        }
        .line{
            height: 6px ;
            width:60px;
            border-radius: 20px;
            background: linear-gradient(270deg,#13ADC7 0%,#945DD6 100%);
            filter: drop-shadow( 1px 1px 4px #9a26ff);
            
        }
        span{
            font-size: 20px;
            letter-spacing: 2px;
            text-align:unset
        }
        .navigation{
            display: flex;
            gap:20px;
            align-items: center;
            justify-content: center;
            z-index: 99;
            .ball{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border:2px solid white;
                background-color: white;
                cursor: pointer;
            }

            .active{
                background-color: black;
            }
        }
   }
   .right{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        filter: drop-shadow( 0px 0px 6px rgba(153, 67, 240, 0.7));

        img{
            width: 100%;
            object-fit: contain;

            @media (max-width:661px) {
                width: 90%;
            }
            &:first-child{
                position: absolute;
                max-width: 450px;
                min-width: 300px
            }  
            
            &:last-child{
                z-index: 1;
            }
        }

   }

   @keyframes astro {
        0%{
            transform: translateY(0%) rotate(2deg);
        }
        50%{
            transform: translateY(10%) rotate(-2deg);
        }
        100%{
            transform: translateY(0%) rotate(2deg);
        }
   }

   @keyframes astro2 {
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.1);
            filter:brightness(2);
            
        }
        100%{
            transform: scale(1);
        }
   }

   @keyframes rotateMoon {
    0%{
        transform: rotate(0deg);
    }
    40%{
        filter: blur(0px);
    }
    50%{
        filter: blur(10px);
    }
    60%{
        filter: blur(0px);
    }
    100%{
        transform: rotate(360deg);
    }    
}
   @keyframes right {
    0%{
        opacity: 1;
        transform: translateX(0%);
    }
    50%{
        opacity: 0;
        transform: translateX(200%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }    
}
  
}