.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../../../public/images/espaco.png");
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    max-height: 900px;
    

    @media (max-width:661px) {
        height: 95vh;
        flex-direction: column-reverse;
    }

    .meteoro {
        position: absolute;
        top:0;
        right: 0;
        animation: meteoro 6s infinite linear;
        rotate: -170deg;
        object-fit: contain;
    }

    .starshoot{
        position: absolute;
        rotate: -30deg;
        left:0;
        transform: translateX(-100%) translateY(-100%);
        animation: starshoot 10s infinite linear 4s;
    }

    .satellite {
        position: absolute;
        transform: rotate(-60deg);
        left: 0;
        top: 10px;
        width: 60px;
        object-fit: contain;
        animation: satellite 26s infinite linear, spaceship .8s infinite;

    }

    .left {
        position: relative;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        animation: innerLeft 1s linear;
        
        @media (max-width:661px) {
            height: 60%;
            align-items: flex-end;
            justify-content: start;
        }

        img {
            &:first-child {
                animation: shake 8s infinite linear;
                z-index: 1;
                filter: drop-shadow(2px 2px 10px rgba(153, 67, 240, 0.7));
                width: 100%;
                object-fit: contain;

                @media (max-width:661px) {
                    width: 80%;
                }
            }

            &:last-child {
                position: absolute;
                top: 55%;
                bottom: 50%;
                margin: auto;
                animation: rotate 20s infinite linear;
                filter: drop-shadow(10px 10px 10px rgba(248, 253, 172, 0.7));

                @media (max-width:1200px) {
                    height: 500px;
                    width: 500px;
                }

                @media (max-width:661px) {
                    height: 200px;
                    width: 200px;
                }
        
                @media (max-width:991px) {
                    height: 400px;
                    width: 400px;
                }

            }
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Space Grotesk', sans-serif;
        height: max-content;
        z-index: 9;
        gap: 10px;
        height: 100%;
        animation: innerRight 1s linear;

        @media (max-width:661px) {
            height: max-content;
            justify-content: flex-end;
            position: relative;
            top:20px;
        }

        
        span {
            text-transform: uppercase;
            color: white;
            text-align: center;

            &:first-child {
                font-weight: 500;
                font-size: 38px;
                letter-spacing: 3px;
                text-shadow: 1px 1px 10px white;
                
                @media (max-width:661px) {
                    text-shadow: 0px 0px 4px #1c1c60;
                }

                @media (max-width:991px) {
                    font-size: 18px;
                }
            }

            &:nth-child(3) {
                font-size: 30px;
                letter-spacing: 3px;
                text-shadow: 1px 1px 10px white;

                @media (max-width:661px) {
                    text-shadow: 0px 0px 4px #1c1c60;
                }

                span {

                    text-shadow: none;
                    font-weight: bold;
                    background: linear-gradient(90deg, #4e4ef5, #9400FF);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    filter: drop-shadow(1px 1px 10px #6848b8);
                }

                @media (max-width:991px) {
                    font-size: 20px;
                }
            }

        }

        .name {
            max-width: max-content;
            overflow: hidden;
            white-space: nowrap;
            border-right: 3px solid #B175FF;
            padding-right: 10px;
            font-family: 'Raleway', sans-serif;
            animation: typing 3s steps(20) infinite alternate,
                blink 0.7s infinite;
            span {
                width: max-content;
                font-size: 100px;
                font-weight: 700;
                letter-spacing: 2px;
                color: #B175FF;
                text-shadow: none;
                background: linear-gradient(90deg, #4e4ef5, #9400FF, #4e4ef5);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @media (max-width:991px) {
                    font-size: 60px;
                }
                @media (max-width:661px) {
                    background: linear-gradient(90deg, #4e4ef5, #9400FF);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

        .groupButton {
            display: flex;
            gap: 20px;
            margin-top: 20px;

            button {
                width: 140px;
                padding: 10px 0;
                color: #DEDCE4;
                border: none;
                cursor: pointer;
                letter-spacing: 2px;
                font-weight: bold;
                box-shadow: 2px 2px 10px #1c1c60;
                transition: all .2s ease;

                &:hover {
                    transform: scale(1.1);
                }


                &:first-child {
                    background: linear-gradient(90deg, #1c1c60, #9400FF, #1c1c60);
                }

                &:last-child {
                    background-color: #191919;
                }
            }
        }

        
    }
}


@keyframes shake {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes shakeTransform {
    0% {
        transform: translateY(0%) rotate(-30deg);
    }

    50% {
        transform: translateY(10%) rotate(-30deg);
    }

    100% {
        transform: translateY(0%) rotate(-30deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes meteoro {
    0% {
        transform: translateX(-100%) translateY(-100%);
    }
    20% {
       transform: translateX(800%) translateY(-1200%);
    }

    100% {
       transform: translateX(800%) translateY(-1200%);
    }
}
@keyframes starshoot {
    0% {
        transform: translateX(-100%) translateY(-100%);
    }
    10% {
        transform: translateX(1200%) translateY(1200%);
    }

    100% {
        transform: translateX(1200%) translateY(1200%);
    }
}

@keyframes satellite {
    0% {
        transform: translateX(-200%)
    }

    100% {
        transform: translateX(1900px) translateY(900px) rotate(360deg);
    }
}

@keyframes innerRight {
    0% {
        transform: translateX(-100%);
    }

    70% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes innerLeft {
    0% {
        transform: translateX(100%);
    }

    70% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes innerUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    80% {
        transform: translateY(-4%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes typing {
    0% {
        width: 0%;
        visibility: hidden;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }

    100% {
        border-color: #B175FF;
    }
}

@keyframes spaceship {
    0% {
        filter: brightness(70%) drop-shadow(2px 2px 10px rgba(153, 67, 240, 0.7));
    }

    50% {
        filter: brightness(80%) drop-shadow(2px 2px 20px rgba(139, 240, 67, 0.7));
    }

    100% {
        filter: brightness(70%) drop-shadow(2px 2px 10px rgba(153, 67, 240, 0.7));
    }
}